
<div id="content" #content>
    <div id="chartdiv"></div>
    <!-- <button (click)="porGeneroFemeninoGra()" (mousemove)="porGeneroGra()" >Graficar</button> -->
</div>

<button class="btn-primary" (click)="pdfGenero()" (mousemove)="porFemenino()" (mousemove)="porMasculino()" (mousemove)="for()" >Reporte Pdf</button>
<!-- <button class="btn-primary" (click)="downloadPDF()" (mousemove)="porGeneroGra()" (mousemove)="porGeneroFemeninoGra()">Reportess</button> -->