<nav>
    <div class="content">
        <div class="icon">
            <span class="material-icons">
                create
            </span>
        </div>
        <h1>Trato equitativo de Socios/Accionistas</h1>
        <div class="icon-status">
            <span class="material-icons">
                more_horiz
            </span>
        </div>
    </div>
</nav>


<div class="section">
    <hr>
    <div class="measure">
        <p class="measureText">MEDIDA 2
            <p>
    </div>
    <hr>
    <div class="question" class="ion-text-center">

        <div>
            <p>
                <span class="material-icons icon-center"> create </span> Pregunta 2
            </p>
        </div>
        <div>
            <p class="questionText">Pregunta 1: Con texto generico agregado para la distribucion de las letras y el justificado y el parrafo para una vision global mas acertada aunque no figure el detalle en el panel de navegacion.
            </p>
        </div>
    </div>
    <hr>
    <div class="options">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
            <mat-button-toggle value="Si">Si</mat-button-toggle><br>
            <mat-button-toggle value="No">No</mat-button-toggle><br>
            <mat-button-toggle value="Nose">Nose</mat-button-toggle><br>
            <mat-button-toggle value="No aplica">No aplica</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <br>
    <div class="skip">
        <a class="skipQuestion" href="">Omitir Pregunta <strong>></strong></a>
    </div>
    <hr>
    <div class="comment">
        <div class="text-comment">
            <p class="leftComment">Dejar un comentario</p>
        </div>
        <div>
            <p class="commentText">Pregunta 1: Con texto generico agregado para la distribucion de las letras y el justificado y el parrafo para una vision global mas acertada aunque no figure el detalle en el panel de navegacion.
            </p>
        </div>
    </div>

</div>


<div class="footer">
    <div>
        <mat-form-field appearance="fill" class="formField">
            <mat-label>TIPO DE RESPUESTA</mat-label>
            <mat-select>
                <mat-option [value]="">
                    Firts Option
                </mat-option>
                <mat-option value="">
                    Second Option
                </mat-option>
                <mat-option value="">
                    Third Option
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <section class="example-section">
            <mat-checkbox class="example-margin">Esta pregunta contiene subpreguntas</mat-checkbox>
        </section>
    </div>
</div>