nav {
    background-color: #BE889C;
    width: 100%;
    align-self: flex-end;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    margin-right: -100px;
    padding-top: 20px;
    position: absolute;
}

.content {
    width: 100%;
    height: 90px;
    position: absolute;
    background-color: #5E2F43;
    justify-content: center;
}

.section {
    height: 100%;
    width: 100%;
    padding-top: 50px;
}

h1 {
    text-align: center;
    color: white;
    font-size: 36px;
    padding: 23px;
}

.icon {
    float: left;
}

.icon-status {
    float: right;
}

span {
    size: 40px;
}

.skipQuestion {
    font-size: 13px;
    color: rgba(14, 62, 84, 1);
}

.measure {
    text-align: right;
}

.measureText {
    text-align: right;
    color: rgba(64, 104, 128, 1);
}

.questionText {
    color: rgba(94, 47, 67, 1);
    font-size: 30px;
}

.commentText {
    color: rgba(14, 62, 84, 1);
    font-size: 14px;
    text-align: right;
}

.leftComment {
    color: rgba(94, 47, 67, 1);
    font-size: 18;
    text-align: right;
}

.question {
    justify-content: center;
}

.options {
    justify-content: center;
    text-align: center;
}

.skip {
    text-align: right;
}

.text-comment {
    text-align: right;
}

p {
    text-align: center;
    font-size: 20px;
}


/*footer*/

.footer {
    position: fixed;
    left: 0;
    height: 100px;
    bottom: 0;
    width: 110%;
    background-color: #BE889C;
    text-align: left;
}

.example-section {
    padding-bottom: 100px;
}

.formField {
    color: turquoise;
}