<div align="center">
	<div>
		<h1>Formulario: Administrador de redes </h1>
	</div>
</div>
<br/>
<div class="a   " class="card  bg-light " >
    <button type="button" class="btn btn-info btn-lg" disabled="disabled">Sección 3: Especialidad de redes y telefonia</button>
   </div>
<div>
    <table align="center" >
        <div class="card bg-light mb-3">
            <div class="card-body">
                <mat-radio-group [(ngModel)]="redes.experienciaRedes">
                    <label for="nombre">1.- Tiene Experiencia en arquitectura de redes LAN y WAN? </label>
                    <div class="form-check">
                        <mat-radio-button class="example-radio-button" value="Si">Si</mat-radio-button>
                    </div>
                    <div class="form-check">
                        <mat-radio-button class="example-radio-button" value="No">No</mat-radio-button>
                    </div>
                </mat-radio-group>
            </div>
        </div>
        <div class="card bg-light mb-3">
            <div class="card-body">
                <mat-radio-group [(ngModel)]="redes.protocolosYServicios">
                    <label for="nombre">2.- Tiene Conocimiento en protocolos y servicios de red como TCP/IP, ATM, DNS, DHCP? </label>
                    <div class="form-check">
                        <mat-radio-button class="example-radio-button" value="Si">Si</mat-radio-button>
                    </div>
                    <div class="form-check">
                        <mat-radio-button class="example-radio-button" value="No">No</mat-radio-button>
                    </div>
                </mat-radio-group>
            </div>
        </div>
        <div class="card bg-light mb-3">
            <div class="card-body">
                <mat-radio-group [(ngModel)]="redes.webServerCisco">
                    <label for="nombre">3.- Tiene Experiencia en WebServer y Cisco?</label>
                    <div class="form-check">
                        <mat-radio-button class="example-radio-button" value="Si">Si</mat-radio-button>
                    </div>
                    <div class="form-check">
                        <mat-radio-button class="example-radio-button" value="No">No</mat-radio-button>
                    </div>
                </mat-radio-group>
            </div>
        </div>
        <div class="card bg-light mb-3">
            <div class="card-body">
                <mat-radio-group [(ngModel)]="redes.conocimientoSistemas">
                    <label for="nombre">4.- Tiene Conocimento en los sistemas operativos Linux, Windows, Unix? </label>
                    <div class="form-check">
                        <mat-radio-button class="example-radio-button" value="Si">Si</mat-radio-button>
                    </div>
                    <div class="form-check">
                        <mat-radio-button class="example-radio-button" value="No">No</mat-radio-button>
                    </div>
                </mat-radio-group>
            </div>
        </div>
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
    <button type="button" class="btn btn-primary" (click)="altaRedes()">Registrar</button>
</div>