<div align="center">
	<div>
		<h1>Formulario: Calidad de Software </h1>
	</div>
</div>
<br/>
<div class="a   " class="card  bg-light " >
    <button type="button" class="btn btn-info btn-lg" disabled="disabled">Sección 3: Especialidad de calidad de software</button>
   </div>
<div>
    <table align="center" >
        <div class="card bg-light mb-3">
            <div class="card-body">
                <mat-radio-group [(ngModel)]="qa.planPrueba" >
                    <label for="nombre">1.- Es capas de crear un plan de puebas y testing?</label>
                    <div class="form-check">
                        <mat-radio-button class="example-radio-button" value="Si">Si</mat-radio-button>
                    </div>
                    <div class="form-check">
                        <mat-radio-button class="example-radio-button" value="No">No</mat-radio-button>
                    </div>
                </mat-radio-group>
            </div>
        </div>
        <div class="card bg-light mb-3">
            <div class="card-body">
                <mat-radio-group [(ngModel)]="qa.herramientaBugTesting" > 
                    <label for="nombre">2.- Que herramienta utiliza para realizar bug testing? </label>
                    <div class="form-check">
                        <mat-radio-button class="example-radio-button" value="The Mantis Bug">The Mantis Bug</mat-radio-button>
                    </div>
                    <div class="form-check">
                        <mat-radio-button class="example-radio-button" value="Tracker">Tracker</mat-radio-button>
                    </div>
                    <div class="form-check">
                        <mat-radio-button class="example-radio-button" value="JIRA">JIRA</mat-radio-button>
                    </div>
                    <div class="form-check">
                        <mat-radio-button class="example-radio-button" value="Pivotal Tracker">Pivotal Tracker</mat-radio-button>
                    </div>
                </mat-radio-group>
            </div>
        </div>
        <div class="card bg-light mb-3">
            <div class="card-body">
                <mat-radio-group [(ngModel)]="qa.herramientaBugAutomatizada" >
                    <label for="nombre">3.- Que herramienta utiliza para realizar las pruebas automatizadas?</label>
                    <div class="form-check">
                        <mat-radio-button class="example-radio-button" value="Selenium">Selenium</mat-radio-button>
                    </div>
                    <div class="form-check">
                        <mat-radio-button class="example-radio-button" value="Watir">Watir</mat-radio-button>
                    </div>
                    <div class="form-check">
                        <mat-radio-button class="example-radio-button" value="Sahi">Sahi</mat-radio-button>
                    </div>
                </mat-radio-group>
            </div>
        </div>
        <div class="card bg-light mb-3">
            <div class="card-body">
                <mat-radio-group [(ngModel)]="qa.normasCalidad" >
                    <label for="nombre">4.- Tiene conocimiento de las normas de calidad de la industria?</label>
                    <div class="form-check">
                        <mat-radio-button class="example-radio-button" value="Si">Si</mat-radio-button>
                    </div>
                    <div class="form-check">
                        <mat-radio-button class="example-radio-button" value="No">No</mat-radio-button>
                    </div>
                </mat-radio-group>
            </div>
        </div>
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
    <button type="button" class="btn btn-primary" (click)="altaQa()">Registrar</button>
    </div>