<div class="container">
    <h1 class="d-flex justify-content-center"><strong> Interfaz para la simulación de datos</strong></h1>
    <hr>
    <br>
    <form>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="susceptibles">Numero de profesionales calificados</label>
                <input type="number" class="form-control" id="susceptibles" placeholder="">
            </div>
            <div class="form-group col-md-3">
                <label for="infectados">Numero de profesionales recientes</label>
                <input type="number" class="form-control" id="infectados" placeholder="">
            </div>
            <div class="form-group col-md-3">
                <label for="tasaInteraccion">Tasa diaria de presentaciones (entrevistas laborales)</label>
                <input type="number" class="form-control" id="tasaInteraccion" placeholder="">
            </div>
            <div class="form-group col-md-3">
                <label for="tasaInteraccion">Tiempo promedio (proceso de postulación)</label>
                <input type="number" class="form-control" id="duracionEnfermedad" placeholder="">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="probContagios">Prob. de interaccion (con instituciones afines al medio)(%)</label>
                <input type="number" class="form-control" id="probContagios" placeholder="">
            </div>
            <div class="form-group col-md-3">
                <label for="tasaRecuperacion">Tasa de oportunidad a ser aceptadas(%)</label>
                <input type="number" class="form-control" id="tasaRecuperacion" placeholder="">
            </div>
            <div class="form-group col-md-3">
                <label for="tasaMortalidad">Tasa de oportunidad a ser denegadas(%)</label>
                <input type="number" class="form-control" id="tasaMortalidad" placeholder="">
            </div>

        </div>
        <div class="form-row">
            <div class="form-group col-md">
                <label class="col-form-label mr-1">Fecha inicio:</label>
                <div class="d-flex justify-content">
                    <input [matDatepicker]="picker1" class="form-control" placeholder="Fecha inicio:" id="fechaI" readonly>
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </div>
            </div>
            <div class="form-group col-md">
                <label class="col-form-label mr-1">Fecha fin:</label>
                <div class="d-flex justify-content">
                    <input [matDatepicker]="picker2" class="form-control" placeholder="Fecha fin:" id="fechaF" readonly>
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </div>
            </div>
            <!-- <div class="form-group col-md-6">
                <label for="customRange3">Días a simular: &nbsp;{{cantDias}}</label>
                <input (input)="cantidadDias()" type="range" class="custom-range" value="20" min="15" max="500" step="1" id="cantDias">
            </div> -->

        </div>

    </form>
    <br>
    <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-info" (click)="simular2()">Simular</button> &nbsp; &nbsp;
        <button routerLink="/graficas" type="button" class="btn btn-outline-secondary activate">Graficar</button> &nbsp; &nbsp;
        <button (click)="pdf()" type="button" class="btn btn-info">Reporte Pdf</button>

        <div class="d-flex">
            <!-- [disabled]="!mostrar" 
                    [disabled]="!mostrar" -->
        </div>
    </div>
    <br>
    <div class="mb-3" *ngIf="mostrar">
        <h4 class="text-primary">Resultados</h4>
        <hr>
        <div class="alert alert-secondary" role="alert">
            <div class="row mb-2">
                <div class="col d-flex justify-content-between">
                    <p>Numero de profesionales en espera: &nbsp;<span class="badge badge-info">{{totalContagios | number:'1.0-0' | removeComma}}</span></p>
                    <p>Numero de personas aceptadas: &nbsp;<span class="badge badge-info">{{totalRecuperados | number:'1.0-0' | removeComma}}</span></p>
                    <p>Numero de personas rechazadas: &nbsp;<span class="badge badge-info">{{totalFallecidos | number:'1.0-0' | removeComma}}</span></p>
                    <p>Numero de profesionales en espera (no afectados): &nbsp;<span class="badge badge-info">{{noAfectados | number:'1.0-0' | removeComma}}</span></p>
                </div>
                <!-- Informacion no relevante para los profesionales-->
                <!-- </div>
            <div class="row">
                <div class="col d-flex justify-content-between">
                    <p>Max. Contagios diarios: &nbsp; <span class="badge badge-info">{{maxContagios | number:'1.0-0' | removeComma}}</span></p>
                    <p>Max. recuperaciones diarias: &nbsp; <span class="badge badge-info">{{recuperaciones | number:'1.0-0' | removeComma}}</span></p>
                    <p>Max. fallecimientos: &nbsp; <span class="badge badge-info">{{maxFallecimientos | number:'1.0-0' | removeComma}}</span></p>
                    <p>Max. Infectados simultaneo: &nbsp;<span class="badge badge-info">{{maxInfectadosSimultaneos | number:'1.0-0' | removeComma}}</span></p>
                </div> -->
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-md-6">
                <div class="table-responsive-md">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Día</th>
                                <th scope="col">Calificados</th>
                                <th scope="col">Recientes</th>
                                <th scope="col">Aceptados</th>
                                <th scope="col">Rechazados</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let dato of listaSusceptible; let i = index">
                                <th scope="row">{{i}}</th>
                                <td>{{dato | number:'.0-0' | removeComma}}</td>
                                <td>{{listaInfectados[i] | number:'1.0-0' | removeComma}}</td>
                                <td>{{listaRecuperados[i] | number:'1.0-0' | removeComma}}</td>
                                <td>{{listaFallecidos[i] | number:'1.0-0' | removeComma}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- <div class="col-md-6">    SEGUNDA TABLA DE DATOS
                <div class="table-responsive-md">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Contagios</th>
                                <th scope="col">Recuperaciones</th>
                                <th scope="col">Fallecimientos</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let dato of listaContagios; let i = index">
                                <td>{{dato | number:'1.0-0' | removeComma}}</td>
                                <td>{{listaRecuperaciones[i] | number:'1.0-0' | removeComma}}</td>
                                <td>{{listaFallecimientos[i] | number:'1.0-0' | removeComma}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div> -->
        </div>
    </div>
</div>