<div align="center">
	<div>
		<h1>Formulario: Informacion de la empresa</h1>
	</div>
</div>
<br/>
<div class="a   " class="card  bg-light " >
    <button type="button" class="btn btn-info btn-lg" disabled="disabled">Sección 1: Identificacion</button>
   </div>
<table align="center" class="yellow">
    <div class="card  bg-light  mb-3">
        <div class="card-body">
            <label for="nombre">1.- Nombre De La empresa: </label>
            <input class="form-control" type="text" name="nombre" [(ngModel)]="empresa.nombreEmpresa"/>
            <!--[(ngModel)]="usuario.nombreEmpresa"-->
        </div>
    </div>
</table>
<div class="a   " class="card  bg-light " >
    <button type="button" class="btn btn-info btn-lg" disabled="disabled">Sección 2: Caracteristicas de la empresa</button>
   </div>
<table align="center">
    <div class="card  bg-light  mb-3">
        <div class="card-body">
            <label for="personal">2.- Actualmente con cuantos trabajadores cuenta su empresa? </label>
            <input class="form-control" type="number" name="personal" [(ngModel)]="empresa.numTrabajadores"/>
        </div>
    </div>
    <div class="card  bg-light  mb-3">
        <div class="card-body">
            <label for="requisitos">3.- Cuales son los requisitos o documentos minimos que piden a la hora de contratar empleados? </label>
            <input class="form-control" type="text" name="requisitos" [(ngModel)]="empresa.requisitoEmpleado"/>
        </div>
    </div>
    <div class="card  bg-light  mb-3">
        <div class="card-body">
            <label for="requisitos">4.- ¿Qué tipo de software utilizan en la empresa?</label>
            <input class="form-control" type="text" name="requisitos" [(ngModel)]="empresa.usoSoftware"/>
        </div>
    </div>
    <div class="card bg-light mb-3">
        <div class="card-body">
            <label for="nombre">5.- Que sistema operativo utilizan en la empresa?</label>
            <mat-radio-group [(ngModel)]="empresa.sistemaOperativo">
                <div class="form-check">
                    <mat-radio-button class="example-radio-button" value="linux">Linux</mat-radio-button>
                </div>
                <div class="form-check">
                    <mat-radio-button class="example-radio-button" value="Mac">Ios</mat-radio-button>
                </div>
                <div class="form-check">
                    <mat-radio-button class="example-radio-button" value="Windows">Windows</mat-radio-button>
                </div>
                <div class="form-check">
                    <mat-radio-button class="example-radio-button" value="todos">Todos</mat-radio-button>
                </div>
                <div class="form-check">
                    <mat-radio-button class="example-radio-button" value="otro">Otro</mat-radio-button>
                </div>
            </mat-radio-group>
        </div>
    </div>
    <div class="card  bg-light  mb-3">
        <div class="card-body">
            <label for="tiempo">6.- Cuantos años lleva la empresa en el negocio? </label>
            <input class="form-control" type="number" name="tiempo" [(ngModel)]="empresa.tiempoOperacion"/>
        </div>
    </div>
    <div class="card  bg-light  mb-3">
        <div class="card-body">
            <label for="lenguajes">7.- ¿Cuales son los lenguajes de programacion que se necesita para trabajar en la empresa? </label>
            <input class="form-control" type="text" name="lenguajes" [(ngModel)]="empresa.usoLenguajes"/>
        </div>
    </div>
    <div class="card  bg-light  mb-3">
        <div class="card-body">
            <label for="metodologia">8.- ¿Cuales son las metodologias de trabajo que usa la empresa?</label>
            <input class="form-control" type="text" name="metodologia" [(ngModel)]="empresa.usoMetodologias"/>
        </div>
    </div>
</table>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
    <button type="button" class="btn btn-primary" (click)="altaEmpresa()">Registrar Datos</button>
</div>