h1{
	font-size: 20px;
	font-family: 'Times New Roman', Times, serif;
	font-weight: bold;
	text-transform: uppercase;
    text-decoration: underline;
    color: #000;
    word-spacing: 10px;
}
label{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-transform: capitalize;
    
}
.yellow{
    width: 100%;
}