<div class="containr">
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title"> <strong> Gráfica de comportamiento </strong></h3>
                    <div>
                        <div class="flex">
                            <div class="flex-item">
                                <div style="display: block;">
                                    <canvas id="chart" baseChart width="400" height="400" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" [plugins]="lineChartPlugins" (chartHover)="chartHovered($event)"
                                        (chartClick)="chartClicked($event)"></canvas>
                                </div>
                            </div>
                            <div class="flex-item">
                                <table class="table table-responsive table-condensed">
                                    <tr>
                                        <span class="mt-1">Dias</span>
                                        <hr>
                                        <th *ngFor="let label of lineChartLabels">{{label}}</th>
                                    </tr>
                                    <tr *ngFor="let d of lineChartData; let i=index" [class]="'line-'+i">
                                        <span class="pt-2 text-primary">{{d.label}}</span>
                                        <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j] |number:'1.0-0' | removeComma}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
        </div>
        <!-- <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Grafica Poblacion</h5>
                    <div class="card-text">
                        <div class="flex">
                            <div class="flex-item">
                                <div style="display: block;">
                                    <canvas baseChart width="400" height="400" [datasets]="lineChartData2" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" [plugins]="lineChartPlugins" (chartHover)="chartHovered($event)"
                                        (chartClick)="chartClicked($event)"></canvas>
                                </div>
                            </div>
                            <div class="flex-item">
                                <table class="table table-responsive table-condensed">
                                    <tr>
                                        <span class="mt-1">Día</span>
                                        <th *ngFor="let label of lineChartLabels">{{label}}</th>
                                    </tr>
                                    <tr *ngFor="let d of lineChartData2; let i=index" [class]="'line-'+i">
                                        <span class="pt-2 text-primary">{{d.label}}</span>
                                        <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j] |number:'1.0-0' | removeComma}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> 
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-outline-primary" (click)="pdf()">PDF</button> -->
    </div>