<div align="center">
	<div>
		<h1>Formulario: Base de datos </h1>
	</div>
</div>
<br/>

<div>
    <div class="a   " class="card  bg-light " >
        <button type="button" class="btn btn-info btn-lg" disabled="disabled">Sección 3: Especialidad Base de datos</button>
    </div>
<table align="center">
    <div class="card bg-light mb-3">
        <div class="card-body">
            <mat-radio-group [(ngModel)]="baseDato.gestorRelacional">
                <label for="nombre">1.-Que gestor de base de datos relacional domina? </label>

                <div class="form-check">
                    <mat-radio-button class="example-radio-button" value="MySQL">MySQL</mat-radio-button>
                </div>
                <div class="form-check">
                    <mat-radio-button class="example-radio-button" value="SQLite">SQLite</mat-radio-button>
                </div>
                <div class="form-check">
                    <mat-radio-button class="example-radio-button" value="PostgresSQL">PostgresSQL</mat-radio-button>
                </div>
                <div class="form-check">
                    <mat-radio-button class="example-radio-button" value="SQL server">SQL server</mat-radio-button>
                </div>
                <div class="form-check">
                    <mat-radio-button class="example-radio-button" value="Oracle">Oracle</mat-radio-button>
                </div>
            </mat-radio-group>
        </div>
    </div>
</table>
<h2></h2>
<table align="center">
    <div class="card bg-light mb-3">
        <div class="card-body">
            <mat-radio-group [(ngModel)]="baseDato.gestorNoRelacional">
                <label for="nombre">2.- Que gestor de base de datos no relacional domina? </label>
                <div class="form-check">
                    <mat-radio-button class="example-radio-button" value="AzureDB">AzureDB</mat-radio-button>
                </div>
                <div class="form-check">
                    <mat-radio-button class="example-radio-button" value="Cassandra">Cassandra</mat-radio-button>
                </div>
                <div class="form-check">
                    <mat-radio-button class="example-radio-button" value="DynamoDB">DynamoDB</mat-radio-button>
                </div>
                <div class="form-check">
                    <mat-radio-button class="example-radio-button" value="MongoDB">MongoDB</mat-radio-button>
                </div>
                <div class="form-check">
                    <mat-radio-button class="example-radio-button" value="Redis">Redis</mat-radio-button>
                </div>
            </mat-radio-group>
        </div>
    </div>
</table>
<h2>Sección 4: Caracteristicas</h2>
<table align="center">
    <div class="card bg-light mb-3">
        <div class="card-body">
            <mat-radio-group [(ngModel)]="baseDato.experienciaBd">
                <label for="nombre">3.- tiene experiencia en la administracion de bases de datos complejos? </label>
                <div class="form-check">
                    <mat-radio-button class="example-radio-button" value="Si">Si</mat-radio-button>
                </div>
                <div class="form-check">
                    <mat-radio-button class="example-radio-button" value="No">No</mat-radio-button>
                </div>
            </mat-radio-group>
        </div>
    </div>
</table>
<table align="center">
    <div class="card bg-light mb-3">
        <div class="card-body">
            <mat-radio-group [(ngModel)]="baseDato.problemasTrabajo">
                <label for="nombre">4.- Tiene problemas al trabajar en equipo?: </label>
                <div class="form-check">
                    <mat-radio-button class="example-radio-button" value="Si">Si</mat-radio-button>
                </div>
                <div class="form-check">
                    <mat-radio-button class="example-radio-button" value="No">No</mat-radio-button>
                </div>
            </mat-radio-group>
        </div>
    </div>
</table>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
    <button type="button" class="btn btn-primary" (click)="altaBd()">Registrar</button>
</div>