<div class="container">
    <h1 class="text-center">Clasificación de la información registrada</h1>
    <div class="card bg-light mb-3">
        <button class="btn btn-secondary" > Clasificar por Área </button>
        <div class="container">
       
        <p> <strong (click)="clasificarUsuariosCBBA()" style="cursor:pointer; color: blue;" > Numero de profesionales de Cochabamba:</strong> {{this.usuarios}}</p>
        <p> <strong   (click)="clasificarUsuariosLPZ()" style="cursor:pointer; color: blue;" > Numero de profesionales de Santa Cruz:</strong> {{this.usuariosLPZ}}</p>
        <p> <strong  (click)="clasificarUsuariosSCZ()" style="cursor:pointer; color: blue;" > Numero de profesionales de La Paz:</strong> {{this.usuariosSCZ}}</p>
        
        <div class="row-center">
            <div class="col-md-4-center">
                <li class="list-group-item"><a class="fas fa-gavel text-danger mx-2" ></a> <a href="" data-toggle="modal" data-target="#exampleModalCenterCity" (mousemove)="clasificarUsuariosCBBA()" (mousemove)="clasificarUsuariosLPZ()" (mousemove)="clasificarUsuariosSCZ()">Gráfica</a> </li>
            </div>
        </div>   

        <!--inicio modal-->
            <div class="modal fade" id="exampleModalCenterCity" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Por Ciudad</h5>
                    </div>
                    
                    <!-- inicio graficas-->
                    <app-ciudad-graficas></app-ciudad-graficas>
            
                    <!-- fin graficas-->
                    
                </div>
                </div>
            </div>                          
            
            <!--fin modal-->
    </div>
    </div>
    
    <div class="card bg-light mb-3">
        <button class="btn btn-secondary" > Clasificar por Edad y Genero </button>
        <div class="row-center">
            <div class="col-md-4-center">
                    <ul class="list-group">
                          <li class="list-group-item"><a class="fas fa-male text-info mx-2" ></a> <a href="" data-toggle="modal" data-target="#exampleModalCenter" (click)="clasificarGradoAcademico()">Edad</a> </li>
                          
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Por Edad</h5>
                                </div>
                                <div class="modal-body">
                                    <table class="table">
                                        <!--*ngIf="hayRegistros(); else sin"-->
                                        <tr class="table table-active">
                                            <td>Nombre</td>
                                            <td>Edad</td>
                                        </tr>
                                        <tr *ngFor="let usuario of usuarios">
                                            <td> {{usuario.nombre }} </td>
                                            <td>{{usuario.edad}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            </div>
                        </div>

                          <li class="list-group-item"><a class="fas fa-venus text-warning mx-2"></a><a href="" data-toggle="modal" data-target="#exampleModalCenter2" (click)="porGenero()" (mousemove)="porGeneroFemenino()" >Genero</a></li>
                          <!-- Modal -->
                        <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Por Genero</h5>
                                </div>
                                <app-lista-graficas></app-lista-graficas>
                                <div class="row">
                                    <div class="col-md-6">
                                        <h3> &nbsp;&nbsp;&nbsp; Total:   <strong>{{genero.length}}</strong> varones</h3>
                                <div class="modal-body"  >
                                    <table class="table">
                                        <tr class="table table-active">
                                            <td>Nombre</td>
                                        </tr>
                                        <tr *ngFor="let genero of genero">
                                            <td> {{genero.nombre }} </td>
                                        </tr>
                                    </table>
                                </div>
                                    </div>
                                    <div class="col-md-6">
                                        <h3> &nbsp;&nbsp;&nbsp; Total:   <strong>{{femenino.length}}</strong> mujeres</h3>
                                <div class="modal-body">
                                    <table class="table">
                                        <tr class="table table-active">
                                            <td>Nombre</td>
                                        </tr>
                                        <tr *ngFor="let femenino of femenino">
                                            <td> {{femenino.nombre }} </td>
                                          </tr>
                                    </table>
                                </div>
                                    </div>
                                </div>

                            </div>
                            </div>
                        </div>                            

<!-- 
                          <li class="list-group-item"><a class="fas fa-gavel text-danger mx-2"></a> <a href="" data-toggle="modal" data-target="#exampleModalCenter3">Especialidad</a></li>
                                
                        <div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body">
                                ...
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                            </div>
                        </div> -->
                          
                     </ul>
            </div>
            <div class="col-md-6">
                
            </div>
        </div>
    </div>
    <div class="card bg-light mb-3">
        <button class="btn btn-secondary" > Clasificar por Especialidades </button>
        <div class="row">
            <div class="col-md-6">
                
                    <button class="btn btn-info"> Profesionales desempeñandose en el área de desarrollo </button>
                <mat-radio-group>
                    <div class="form-check">
                        <mat-radio-button class="example-radio-button" value="1" (click)="clasificarDev1()">Ultimo año</mat-radio-button>
                    </div>
                    <div class="form-check">
                        <mat-radio-button class="example-radio-button" value="3" (click)="clasificarDev3()">Ultimos 3 años</mat-radio-button>
                    </div>
                    <div class="form-check">
                        <mat-radio-button class="example-radio-button" value="5" (click)="clasificarDev5()">Ultimos 5 años</mat-radio-button>
                    </div>
                </mat-radio-group>
                <button class="btn btn-info"> Profesionales desempeñandose en el área Base de Datos </button>
                <mat-radio-group>
                    <div class="form-check">
                        <mat-radio-button class="example-radio-button" value="1" (click)="clasificarBd1()">Ultimo año</mat-radio-button>
                    </div>
                    <div class="form-check">
                        <mat-radio-button class="example-radio-button" value="3" (click)="clasificarBd3()">Ultimos 3 años</mat-radio-button>
                    </div>
                    <div class="form-check">
                        <mat-radio-button class="example-radio-button" value="5" (click)="clasificarBd5()">Ultimos 5 años</mat-radio-button>
                    </div>
                </mat-radio-group>
               
            </div>
            <div class="col-md-6">
                <button class="btn btn-info"> Profesionales desempeñandose en el área de HelpDesk </button>
                <mat-radio-group>
                    <div class="form-check">
                        <mat-radio-button class="example-radio-button" value="1" (click)="clasificarHd1()">Ultimo año</mat-radio-button>
                    </div>
                    <div class="form-check">
                        <mat-radio-button class="example-radio-button" value="3" (click)="clasificarHd3()">Ultimos 3 años</mat-radio-button>
                    </div>
                    <div class="form-check">
                        <mat-radio-button class="example-radio-button" value="5" (click)="clasificarHd5()">Ultimos 5 años</mat-radio-button>
                    </div>
                </mat-radio-group>

                <button class="btn btn-info"> Profesionales desempeñandose en el área de Redes </button>
                <mat-radio-group>
                    <div class="form-check">
                        <mat-radio-button class="example-radio-button" value="1" (click)="clasificarRedes1()">Ultimo año</mat-radio-button>
                    </div>
                    <div class="form-check">
                        <mat-radio-button class="example-radio-button" value="3" (click)="clasificarRedes3()">Ultimos 3 años</mat-radio-button>
                    </div>
                    <div class="form-check">
                        <mat-radio-button class="example-radio-button" value="5" (click)="clasificarRedes5()">Ultimos 5 años</mat-radio-button>
                    </div>
                </mat-radio-group>
            </div>
        
        
        </div>
    </div>
    <hr>
    <p>
        <button class="btn btn-secondary" (click)="clasificarGradoAcademico()"> Clasificar por Grado Academico </button>
        <button class="btn btn-secondary" (click)="clasificarGradoAcademico2()"> Clasificar por Grado Academico y Área de especialización </button>
    </p>
    <h1 style="text-align:center;">Lista de información registrada</h1>
    <table class="table">
        <!--*ngIf="hayRegistros(); else sin"-->
        <tr class="table table-active">
            <td>N°</td>
            <td>Nombre</td>
            <td>Edad</td>
            <td>Genero</td>
            <td>Email</td>
            <td>Departamento</td>
            <td>Grado anterior</td>
            <td>Área de especialización</td>
            <td>Borrar</td>
            <!-- <td>Seleccionar</td> -->
        </tr>
        <tr *ngFor="let usuario of usuarios">
            <td> {{usuario.idUsuario }} </td>
            <td> {{usuario.nombre }} </td>
            <td>{{usuario.edad}}</td>
            <td> {{usuario.genero }} </td>
            <td> {{usuario.email }} </td>
            <td>{{usuario.departamento}}</td>
            <td>{{usuario.grado}}</td>
            <td>{{usuario.areaEspecializacion}}</td>
            <td> <button class="btn btn-dark" (click)="bajaUsuario(usuario.idUsuario)"> Borrar </button> </td>
            <!-- <td> <button class="btn btn-light" (click)="seleccionarUsuario(usuario.idUsuario)"> Seleccionar </button> </td> -->
        </tr>
    </table>

    <ng-template #sin>
        <p>No hay usuarios registrados.</p>
    </ng-template>

</div>