h2{
    font-family: 'Times New Roman', Times, serif;
	text-transform: capitalize;
	text-align: left;
    color: #000;
    font-weight: bold;
}
h1{
    font-size: 30px;
	font-family: 'Times New Roman', Times, serif;
	font-weight: bold;
	text-transform: uppercase;
    text-decoration: underline;
    color: #000;
    word-spacing: 10px;
    text-transform: capitalize;
}
button{
    margin: 20px;
}
.list-group{
    text-align: center;
    justify-content: center;
}
.list-group-item{
    text-align: center;
    justify-content: center;
}