<body>
    <div class="w-100">
        <!--  IMPORTANTE, SE USARA DESPUES-->
        <!-- <nav class="col-lg-12">
            <app-navbar></app-navbar>
        </nav> -->

        <div class="m-auto w-80 p-5">
            <router-outlet></router-outlet>
        </div>
    </div>
    <!-- <footer class="bg-secondary">
        <app-footer></app-footer>
    </footer> -->
</body>