<div class="container">
    <h1 align="Center"><strong>  COLECCIÓN  Y  TRATAMIENTO  DE  DATOS  PARA  LA  SIMULACIÓN  DEL  MERCADO  LABORAL 
        PARA  EL  PROFESIONAL  DE  CIENCIAS  DE  LA  COMPUTACIÓN </strong></h1>
    <br>
    <div class="container-form">
        <div class="container" class align="Center">
            <img src="https://image.freepik.com/vector-gratis/programador-trabajando-estilo-isometrico_52683-16729.jpg" width="200px" height="200px">
            <br><br><br>
        </div>
        <div class="container-form-2" class align="Center">
            <button routerLink="/formulario" type="button" class="btn btn-outline-info mr-3">Formularios</button>
            <button routerLink="/datos" type="button" class="btn btn-outline-primary mr-3">Simulación de datos</button>
            <button routerLink="/lista" type="button" class="btn btn-outline-primary mr-3">Clasificación de la información</button>
        </div>
    </div>

</div>