h1 {
    text-align: center;
    text-transform: uppercase;
    /* text-decoration: underline; */
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 40px;
    color: #000;
    margin-top: -20px;
    padding-top: 5px;
    word-spacing: 18px;
}

img {
    width: 300px;
    height: auto;
}
button{
    font-size: 20px;
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: #000;
    padding: 10px 10px;
    margin: 5px;
    background: #fff;
    position: relative;
    align-items: center;
    top: 50px;
    font-weight: bold;
}