<div class="container">
    <h5>Simulador Covid-19</h5>
    <hr>
    <br>
    <form>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="susceptibles">Personas vulnerables</label>
                <input type="number" class="form-control" id="susceptibles" placeholder="Personas vulnerables">
            </div>
            <div class="form-group col-md-3">
                <label for="infectados">Personas infectadas</label>
                <input type="number" class="form-control" id="infectados" placeholder="Personas infectadas">
            </div>
            <div class="form-group col-md-3">
                <label for="tasaInteraccion">Tasa diaria de interaccion</label>
                <input type="number" class="form-control" id="tasaInteraccion" placeholder="Tasa interaccion">
            </div>
            <div class="form-group col-md-3">
                <label for="tasaInteraccion">Duración media enfermedad</label>
                <input type="number" class="form-control" id="duracionEnfermedad" placeholder="Duracion enfermedad">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="probContagios">Probabilidad de contagio(%)</label>
                <input type="number" class="form-control" id="probContagios" placeholder="Probabilidad contagios">
            </div>
            <div class="form-group col-md-3">
                <label for="tasaRecuperacion">Tasa de recuperación(%)</label>
                <input type="number" class="form-control" id="tasaRecuperacion" placeholder="Tasa recuperacion">
            </div>
            <div class="form-group col-md-3">
                <label for="tasaMortalidad">Tasa de mortalidad(%)</label>
                <input type="number" class="form-control" id="tasaMortalidad" placeholder="Tasa mortalidad">
            </div>
            <div class="form-group col-md-3">
                <label for="tasaMortalidad">Tasa de cuarentena(%)</label>
                <input type="number" class="form-control" id="tasaCuarentena" placeholder="Tasa cuarentena      ">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-9">
                <label for="customRange3">Días a simular: &nbsp;{{cantDias}}</label>
                <input (input)="cantidadDias()" type="range" class="custom-range" value="20" min="15" max="500" step="1" id="cantDias">
            </div>
            <div class="form-group col-md-3 mt-3">
                <button type="button" class="btn btn-outline-primary btn-block" (click)="simular2()">Simular</button>
                <div class="d-flex">
                    <button routerLink="/graficas" [disabled]="!mostrar" type="button" class="btn btn-outline-secondary col-6">Graficar</button>
                    <button (click)="pdf()" type="button" [disabled]="!mostrar" class="btn btn-outline-info col-6">Reportes</button>
                </div>
            </div>
        </div>
    </form>
    <div class="mb-3" *ngIf="mostrar">
        <h4 class="text-primary">Resultados</h4>
        <hr>
        <div class="alert alert-secondary" role="alert">
            <div class="row mb-2">
                <div class="col d-flex justify-content-between">
                    <p>Poblacion total contagiada: &nbsp;<span class="badge badge-info">{{totalContagios | number:'1.0-0' | removeComma}}</span></p>
                    <p>Poblacion total recuperada: &nbsp;<span class="badge badge-info">{{totalRecuperados | number:'1.0-0' | removeComma}}</span></p>
                    <p>Poblacion total fallecida: &nbsp;<span class="badge badge-info">{{totalFallecidos | number:'1.0-0' | removeComma}}</span></p>
                    <p>Poblacion no afectada: &nbsp;<span class="badge badge-info">{{noAfectados | number:'1.0-0' | removeComma}}</span></p>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-between">
                    <p>Max. Contagios diarios: &nbsp; <span class="badge badge-info">{{maxContagios | number:'1.0-0' | removeComma}}</span></p>
                    <p>Max. recuperaciones diarias: &nbsp; <span class="badge badge-info">{{recuperaciones | number:'1.0-0' | removeComma}}</span></p>
                    <p>Max. fallecimientos: &nbsp; <span class="badge badge-info">{{maxFallecimientos | number:'1.0-0' | removeComma}}</span></p>
                    <p>Max. Infectados simultaneo: &nbsp;<span class="badge badge-info">{{maxInfectadosSimultaneos | number:'1.0-0' | removeComma}}</span></p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-md-6">
                <div class="table-responsive-md">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Día</th>
                                <th scope="col">Susceptibles</th>
                                <th scope="col">Infectados</th>
                                <th scope="col">Recuperados</th>
                                <th scope="col">Fallecidos</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let dato of listaSusceptible; let i = index">
                                <th scope="row">{{i}}</th>
                                <td>{{dato | number:'.0-0' | removeComma}}</td>
                                <td>{{listaInfectados[i] | number:'1.0-0' | removeComma}}</td>
                                <td>{{listaRecuperados[i] | number:'1.0-0' | removeComma}}</td>
                                <td>{{listaFallecidos[i] | number:'1.0-0' | removeComma}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-6">
                <div class="table-responsive-md">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Contagios</th>
                                <th scope="col">Recuperaciones</th>
                                <th scope="col">Fallecimientos</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let dato of listaContagios; let i = index">
                                <td>{{dato | number:'1.0-0' | removeComma}}</td>
                                <td>{{listaRecuperaciones[i] | number:'1.0-0' | removeComma}}</td>
                                <td>{{listaFallecimientos[i] | number:'1.0-0' | removeComma}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>