<div align="center">
	<div>
		<h1>Formulario Help Desk </h1>
	</div>
</div>
<br/>
<div>
	<div class="a   " class="card  bg-light " >
        <button type="button" class="btn btn-info btn-lg" disabled="disabled">Sección 3: Especialidad de help desk</button>
       </div>
	<table align="center">
		<div class="card bg-light mb-3">
       	 <div class="card-body">
            <mat-radio-group [(ngModel)]="helpdesk.habilidadDeComunicacion">
                <label for="nombre">1.- Tiene buenas habilidades de comunicación con clientes?</label>
                <div class="form-check">
                    <mat-radio-button class="example-radio-button" value="Si">Si</mat-radio-button>
                </div>
                <div class="form-check">
                    <mat-radio-button class="example-radio-button" value="No">No</mat-radio-button>
                </div>
            </mat-radio-group>
        </div>
        </div>
        <div class="card bg-light mb-3">
        	<div class="card-body">
           		<mat-radio-group [(ngModel)]="helpdesk.capacidadDeSolucion">
                	<label for="nombre">2.- Cuenta con buena capacidad al momento de solucionar problemas? </label>
                	<div class="form-check">
                    	<mat-radio-button class="example-radio-button" value="Si">Si</mat-radio-button>
                	</div>
               		<div class="form-check">
                    	<mat-radio-button class="example-radio-button" value="No">No</mat-radio-button>
                	</div>
            	</mat-radio-group>
        	</div>
    	</div>
    	<div class="card bg-light mb-3">
        	<div class="card-body">
           		<mat-radio-group [(ngModel)]="helpdesk.explicarInformacion">
                	<label for="nombre">3.- Es capaz de explicar claramente y de manera sencilla la informacion tecnica?</label>
                	<div class="form-check">
                    	<mat-radio-button class="example-radio-button" value="Si">Si</mat-radio-button>
                	</div>
               		<div class="form-check">
                    	<mat-radio-button class="example-radio-button" value="No">No</mat-radio-button>
                	</div>
            	</mat-radio-group>
        	</div>
    	</div>
    	<div class="card bg-light mb-3">
        	<div class="card-body">
           		<mat-radio-group [(ngModel)]="helpdesk.analizarMultiplesTareas" required>
                	<label for="nombre">4.- Es capaz de priorizar y realizar multiples tareas de manera eficiente? </label>
                	<div class="form-check">
                    	<mat-radio-button class="example-radio-button" value="Si">Si</mat-radio-button>
                	</div>
               		<div class="form-check">
                    	<mat-radio-button class="example-radio-button" value="No">No</mat-radio-button>
                	</div>
            	</mat-radio-group>
        	</div>
    	</div>
	</table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
    <button type="button" class="btn btn-primary" (click)="altaHelpDesk()">Registrar</button>
</div>