<div class="container">
    <div>
        <!--Formulario-->
        <div>
            <div class="title text-white text-center">
                <h1>Formulario de Colección de datos</h1>
                <hr>
            </div>

            <div class="a   " class="card  bg-light " >
             <button type="button" class="btn btn-info btn-lg" disabled="disabled">Sección 1: Información Personal</button>
            </div>
            <div class="card  bg-light  mb-3">
                <div class="card-body">
                    <label for="nombre">1.- Nombre: </label>
                    <input class="form-control" type="text" name="nombre" [(ngModel)]="usuario.nombre" />
                </div>
            </div>

            <div class="card bg-light mb-3">
                <div class="card-body">
                    <label for="nombre">2.- Edad: </label>
                    <input class="form-control" type="number" name="nombre" [(ngModel)]="usuario.edad" />
                </div>
            </div>

            <div class="card bg-light mb-3">
                <div class="card-body">
                    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="usuario.genero">
                        <label for="nombre">3.- Genero: </label>
                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="Masculino">
                                Masculino
                            </mat-radio-button>
                        </div>
                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="Femenino">
                                Femenino
                            </mat-radio-button>
                        </div>

                    </mat-radio-group>
                </div>
            </div>
            <div class="card bg-light mb-3">
                <div class="card-body">
                    <label for="nombre">4.- Telefono: </label>
                    <input class="form-control" type="text" [(ngModel)]="usuario.telefono" />
                </div>
            </div>

            <div class="card bg-light mb-3">
                <div class="card-body">
                    <label for="nombre">5.- Email: </label>
                    <input class="form-control" type="text" [(ngModel)]="usuario.email" />
                </div>
            </div>

            <div class="card bg-light mb-3">
                <div class="card-body">
                    <label for="nombre">6.- Departamento donde reside actualmente: </label>
                    <mat-radio-group [(ngModel)]="usuario.departamento">
                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="Sant cruz">Santa cruz</mat-radio-button>
                        </div>
                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="Lapaz">La paz</mat-radio-button>
                        </div>
                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="Cochabamba">Cochabamba</mat-radio-button>
                        </div>
                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="Tarija">Tarija</mat-radio-button>
                        </div>
                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="Chuquisaca">Chuquisaca</mat-radio-button>
                        </div>
                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="Pando">Pando</mat-radio-button>
                        </div>
                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="Oruro">Oruro</mat-radio-button>
                        </div>
                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="Beni">Beni</mat-radio-button>
                        </div>
                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="Potosi">Potosi</mat-radio-button>
                        </div>

                    </mat-radio-group>
                </div>
            </div>

            <div class="card bg-light mb-3">
                <div class="card-body">
                    <mat-radio-group [(ngModel)]="usuario.grado">
                        <label for="nombre">7.- Grado ocupado anteriormente: </label>

                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="Ayudante">Ayudante</mat-radio-button>
                        </div>
                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="Tecnico">Tecnico</mat-radio-button>
                        </div>
                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="Junior">Junior</mat-radio-button>
                        </div>
                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="Semi Senior">Semi Senior</mat-radio-button>
                        </div>
                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="Senior">Senior</mat-radio-button>
                        </div>
                    </mat-radio-group>
                </div>
            </div>

            <div class="card bg-light mb-3">
                <div class="card-body">
                    <mat-radio-group [(ngModel)]="usuario.areaEspecializacion">
                        <label for="nombre">8) Área de especializacion:</label>
                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="Base de datos">Base de datos</mat-radio-button>
                        </div>
                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="Desarrollo">Desarrollo</mat-radio-button>
                        </div>
                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="Redes y telefonia">Redes y telefonia</mat-radio-button>
                        </div>
                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="Calidad de software">Calidad de software</mat-radio-button>
                        </div>
                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="HelpDesk">HelpDesk</mat-radio-button>
                        </div>
                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="Seguridad Informatica">Seguridad Informatica</mat-radio-button>
                        </div>
                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="Redes Sociales">E-commerce (Comercio Electronico)</mat-radio-button>
                        </div>
                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="CRM (Gestión de las relaciones con clientes)">CRM (Gestión de las relaciones con clientes)</mat-radio-button>
                        </div>
                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="UX/UI (Experiencia de usuario/Interfaz de usuario)">UX/UI (Experiencia de usuario/Interfaz de usuario)</mat-radio-button>
                        </div>
                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="Social Media Manager">Social Media Manager</mat-radio-button>
                        </div>
                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="Robotica">Robotica</mat-radio-button>
                        </div>
                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="Otro">Otro</mat-radio-button>
                        </div>
                    </mat-radio-group>
                </div>
            </div>
            
            <div class="a   " class="card  bg-light " >
                <button type="button" class="btn btn-info btn-lg" disabled="disabled">Sección 2: Caracteristicas del profesional</button>
               </div>

            <div class="card bg-light mb-3">
                <div class="card-body">
                    <mat-radio-group [(ngModel)]="usuario.areaEspecializacion2">

                        <label for="nombre">9) ¿Como considera actualmente su conocimiento y habilidades sobre el área en la que esta especializado? </label>

                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="Muy alto">Muy alto</mat-radio-button>
                        </div>
                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="Alto">Alto</mat-radio-button>
                        </div>
                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="Medio">Medio</mat-radio-button>
                        </div>
                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="Bajo">Bajo</mat-radio-button>
                        </div>
                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="Muy bajo">Muy bajo</mat-radio-button>
                        </div>
                    </mat-radio-group>
                </div>
            </div>

            <div class="card bg-light mb-3">
                <div class="card-body">
                    <mat-radio-group [(ngModel)]="usuario.implementarSistema">
                        <label for="nombre">10) ¿Qué tan dificil es implementar un sistema para una micro empresa?</label>

                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="Muy dificil">Muy dificil</mat-radio-button>
                        </div>
                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="Dificl">Dificil</mat-radio-button>
                        </div>
                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="Normal">Normal</mat-radio-button>
                        </div>
                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="Facil">Facil</mat-radio-button>
                        </div>
                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="Muy facil">Muy facil</mat-radio-button>
                        </div>
                    </mat-radio-group>
                </div>
            </div>

            <div class="card bg-light mb-3">
                <div class="card-body">
                    <mat-radio-group [(ngModel)]="usuario.frecuenciaADesarrollar">
                        <label for="nombre">11) ¿Con que frecuencia acudes a alguien cuando se te presenta algún problema al desarrollar un sistema?</label>

                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="Nunca">Nunca</mat-radio-button>
                        </div>
                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="Casi nunca">Casi nunca</mat-radio-button>
                        </div>
                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="A veces">A veces</mat-radio-button>
                        </div>
                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="Casi siempre">Casi siempre</mat-radio-button>
                        </div>
                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="Siempre">Siempre</mat-radio-button>
                        </div>
                    </mat-radio-group>
                </div>
            </div>
            <div class="card bg-light mb-3">
                <div class="card-body">
                    <mat-radio-group [(ngModel)]="usuario.aprenderLenguaje">

                        <label for="nombre">12) ¿Estaría dispuesto a aprender un lenguaje de programación que este entre los 3 mejores lenguajes de programacion? </label>

                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="Si">Si</mat-radio-button>
                        </div>
                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="No">No</mat-radio-button>
                        </div>
                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="Nose">Nose</mat-radio-button>
                        </div>

                    </mat-radio-group>
                </div>
            </div>
            <div class="card bg-light mb-3">
                <div class="card-body">
                    <mat-radio-group [(ngModel)]="usuario.frecuenciaDificultad">
                        <label for="nombre">13) ¿Con que frecuencia usted recurre al internet cuando llega a tener dificultades?</label>

                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="Nunca">Nunca</mat-radio-button>
                        </div>
                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="Casi nunca">Casi nunca</mat-radio-button>
                        </div>
                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="A veces">A veces</mat-radio-button>
                        </div>
                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="Casi siempre">Casi siempre</mat-radio-button>
                        </div>
                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="Siempre">Siempre</mat-radio-button>
                        </div>
                    </mat-radio-group>
                </div>
            </div>
            <div class="card bg-light mb-3">
                <div class="card-body">
                    <mat-radio-group [(ngModel)]="usuario.pagoTrabajo">

                        <label for="nombre">14) ¿Estaria dispuesto a conseguir el trabajo aunque le paguen menos de lo que normalmente gana un ingeniero informatico?</label>

                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="Definitivamente si">Definitivamente si</mat-radio-button>
                        </div>
                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="Probablemente si">Probablemente si</mat-radio-button>
                        </div>
                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="Nose">Nose</mat-radio-button>
                        </div>
                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="Probablemente no">Probablemente no</mat-radio-button>
                        </div>
                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="Definitivamente no">Definitivamente no</mat-radio-button>
                        </div>
                    </mat-radio-group>
                </div>
            </div>

            <div class="card bg-light mb-3">
                <div class="card-body">
                    <mat-radio-group [(ngModel)]="usuario.renuncioTrabajo">

                        <label for="nombre">15) ¿Dejó o renunció a algún empleo anteriormente?</label>

                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="Si">Si</mat-radio-button>
                        </div>
                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="No">No</mat-radio-button>
                        </div>
                    </mat-radio-group>
                </div>
            </div>
            <div class="card bg-light mb-3">
                <div class="card-body">
                    <mat-radio-group [(ngModel)]="usuario.tiempoAdaptacion">

                        <label for="nombre">16) ¿Cuánto tiempo tardaría en adaptarse a un nuevo empleo? (Meses)</label>

                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="1 mes">1 mes</mat-radio-button>
                        </div>
                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="3 meses">3 meses</mat-radio-button>
                        </div>
                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="6 meses">6 meses</mat-radio-button>
                        </div>
                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="9 meses">9 meses</mat-radio-button>
                        </div>
                    </mat-radio-group>
                </div>
            </div>
            <div class="card bg-light mb-3">
                <div class="card-body">
                    <mat-radio-group [(ngModel)]="usuario.tiempoTrabajo">

                        <label for="nombre">17) ¿Cuánto tiempo cree que ardaria para desenvolverse en sus actividades (Meses)</label>

                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="1 mes">1 mes</mat-radio-button>
                        </div>
                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="3 meses">3 meses</mat-radio-button>
                        </div>
                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="6 meses">6 meses</mat-radio-button>
                        </div>
                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="9 meses">9 meses</mat-radio-button>
                        </div>
                    </mat-radio-group>
                </div>
            </div>

            <div class="card bg-light mb-3">
                <div class="card-body">
                    <mat-radio-group [(ngModel)]="usuario.cursoFormacion">

                        <label for="nombre">18) ¿Estaría dispuesto a realizar un curso de formación de 6 meses a cargo de la empresa antes de ser contratado? </label>

                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="Si">Si</mat-radio-button>
                        </div>
                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="No">No</mat-radio-button>
                        </div>

                        <div class="form-check">
                            <mat-radio-button class="example-radio-button" value="Talves">Talves</mat-radio-button>
                        </div>

                    </mat-radio-group>
                </div>
            </div>
                <p class="text-center">
                    <button class="btn btn-primary btn-lg" (click)="altaUsuario()"> Registrar </button> &nbsp;&nbsp;
                </p>
            </div>
            <hr>
        <!--Fin Formulario *ngIf="hayRegistros(); else sin"-->
            <!--Inicio de modal con secciones de preguntas-->
            <div class="card bg-light mb-1">
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <br>
                            <h2 class="text-center">Área Empresarial</h2>
                        </div>
                        <div class="col-sm">
                            <br>
                            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Solo empresas</button>
                            <br>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                          <h2 class="text-center"> Área de Especialidades</h2>
                          <h4 class="text-center">Registra tu información en tu área</h4>
                        </div>
                        <div class="col-sm">
                            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#exampleModal2" data-whatever="@fat">Desarrollo de software</button>
                            <br>
                            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#exampleModal3" data-whatever="@getbootstrap">Base de Datos</button>     
                            <br>
                            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#exampleModal4" data-whatever="@getbootstrap">Calidad de software (QA)</button>     
                            <br>
                            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#exampleModal5" data-whatever="@getbootstrap">Redes y telefonia</button>
                            <br>
                            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#exampleModal6" data-whatever="@getbootstrap">Soporte al cliente (Help Desk)</button>
                        </div>
                      
                    </div>
                  </div>

                <br>

                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Sección Empresarial </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <app-fempresa></app-fempresa>
                        </form>
                    </div>
                     </div>
                    </div>
                </div>

                <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Sección Dev </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                       <app-fdesarrollo></app-fdesarrollo>
                        </form>
                    </div>
                     </div>
                    </div>
                </div>

                <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Sección Base de Datos</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <app-fbasededatos></app-fbasededatos>
                        </form>
                    </div>
                        <div class="modal-footer">
                        </div>
                     </div>
                    </div>
                </div>


                <div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Sección QA</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <app-fqa></app-fqa>
                        </form>
                    </div>
                     </div>
                    </div>
                </div>

                <div class="modal fade" id="exampleModal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Sección Redes y telefonia</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <app-fredes></app-fredes>
                        </form>
                    </div>
                     </div>
                    </div>
                </div>


                <div class="modal fade" id="exampleModal6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Sección Help Desk</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <app-fhelp-desk></app-fhelp-desk>
                        </form>
                    </div>
                     </div>
                    </div>
                </div>

            </div>
            

            <!--Fin de modal con secciones de preguntas-->
           
        <hr>
        <!--Alta preguntas-->
        <br>
    <div class="addPreguntas">
        <h1>Desea agregar una nueva pregunta? </h1>
        <!-- <input type="text"  [(ngModel)]="preguntas.pregunta" placeholder="Ingrese su pregunta"> -->
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Escriba su pregunta...</span>
            </div>
            <textarea class="form-control" aria-label="With textarea" [(ngModel)]="preguntas.pregunta"></textarea>
        </div>
        <br>
        <button class="btn btn-danger" (click)="altaPregunta()">Registrar Pregunta</button>
        <br>
        <br>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">1ra opcion de respuesta</span>
            </div>
            <input type="text" class="form-control" aria-label="Default" [(ngModel)]="respuestas.respuesta">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">2da opcion de respuesta</span>
            </div>
            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">3ra opcion de respuesta</span>
            </div>
            <input type="text" class="form-control" aria-label="Default" >
        </div>
        <!--Card donde va la pregunt y resp-->
        <div class="card bg-light mb-3">
            <div class="card-body">
                <mat-radio-group [(ngModel)]="preguntas.pregunta">
                    <label for="nombre"> * {{preguntas.pregunta}}</label>
                </mat-radio-group>
                <div class="form-check">
                    <mat-radio-button class="example-radio-button" value="respuestas.respuesta">Opción 1</mat-radio-button>
                </div>
                <div class="form-check">
                    <mat-radio-button class="example-radio-button" value="respuestas.respuesta">Opción 2</mat-radio-button>
                </div>
                <div class="form-check">
                    <mat-radio-button class="example-radio-button" value="respuestas.respuesta">Opción 3</mat-radio-button>
                </div>
            </div>
        </div>
        <button class="btn btn-danger" (click)="altaRespuesta()">Registrar respuesta</button>
    </div>

    </div>
</div>