h1{
    font-size: 30px;
	font-family: 'Times New Roman', Times, serif;
	font-weight: bold;
	text-transform: uppercase;
    text-decoration: underline;
    color: #000;
    word-spacing: 10px;
    text-transform: capitalize;
}

.form-control {
    width: 450px;
}
.addPreguntas{
    width: 60%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.a{
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
}
label{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-transform: capitalize;
    
}
h2{
    font-family: 'Times New Roman', Times, serif;
	text-transform: capitalize;
	text-align: left;
    color: #000;
    font-weight: bold;
}
