<div align="center">
	<div>
		<h1>Formulario: Desarrollo de software </h1>
	</div>
</div>
<br/>
<div>
    <div class="a   " class="card  bg-light " >
        <button type="button" class="btn btn-info btn-lg" disabled="disabled">Sección 3: Especialidad de desarrollo de software</button>
       </div>
    <table align="center">
        <div class="card bg-light mb-3">
            <div class="card-body">
                <label for="nroLenguajes">1.- Cuantos lenguajes de programacion domina actualmente? </label>
                <input class="form-control" type="number" name="nroLenguajes" [(ngModel)]="desarrollo.numLenguaje" />
            </div>
        </div>
        <div class="card bg-light mb-3">
            <div class="card-body">
                <mat-radio-group [(ngModel)]="desarrollo.lenguaje">
                    <label for="nombre">2.-Seleccione el lenguaje de programacion con el que prefiere trabajar </label>

                    <div class="form-check">
                        <mat-radio-button class="example-radio-button" value="C++">C++</mat-radio-button>
                    </div>
                    <div class="form-check">
                        <mat-radio-button class="example-radio-button" value="C#">C#</mat-radio-button>
                    </div>
                    <div class="form-check">
                        <mat-radio-button class="example-radio-button" value="Java">Java</mat-radio-button>
                    </div>
                    <div class="form-check">
                        <mat-radio-button class="example-radio-button" value="Python">Python</mat-radio-button>
                    </div>
                    <div class="form-check">
                        <mat-radio-button class="example-radio-button" value="otro">otro</mat-radio-button>
                    </div>
                </mat-radio-group>
            </div>
        </div>
        <div class="card bg-light mb-3">
            <div class="card-body">
                <label for="nrotrabajos">3.- En cuantas empresas a trabajado anteriormente? </label>
                <input class="form-control" type="number" name="nrotrabajos" [(ngModel)]="desarrollo.numEmpresas" />
            </div>
        </div>
        <div class="card bg-light mb-3">
            <div class="card-body">
                <mat-radio-group [(ngModel)]="desarrollo.controladorVersion" >
                    <label for="nombre">4.-Que controladores de versiones usa al momento de realizar su trabajo? </label>

                    <div class="form-check">
                        <mat-radio-button class="example-radio-button" value="git">git</mat-radio-button>
                    </div>
                    <div class="form-check">
                        <mat-radio-button class="example-radio-button" value="cvs">Cvs</mat-radio-button>
                    </div>
                    <div class="form-check">
                        <mat-radio-button class="example-radio-button" value="apache">apache</mat-radio-button>
                    </div>
                    <div class="form-check">
                        <mat-radio-button class="example-radio-button" value="mercurial">mercurial</mat-radio-button>
                    </div>
                    <div class="form-check">
                        <mat-radio-button class="example-radio-button" value="monotone">monotone</mat-radio-button>
                    </div>
                </mat-radio-group>
            </div>
        </div>
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
    <button type="button" class="btn btn-primary" (click)="altaDesarrollo()">Registrar</button>
</div>