.panel {
    background-color: #0E3E54;
    height: 100%;
    width: 100%;
    margin: 0;
}

.div1 {
    height: 80px;
    width: 100%;
    background-color: rgba(110, 150, 175, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.div2 {
    width: 100%;
    background-color: rgba(110, 150, 175, 1);
    justify-content: center;
    align-items: center;
}

h2 {
    color: rgba(255, 255, 255, 1);
}

ol {
    list-style: none;
    width: 100%;
    position: relative;
}

ol li {
    padding: 8px 10px;
    color: #111;
    text-align: center;
    width: 100%;
}

ol li:nth-child(odd) {
    /* filas pares */
    background-color: #f5f5f5;
}

ol li:nth-child(even) {
    /* filas impares */
    background-color: #e5e5e5;
}