<div class="panel">
    <div class="div1">
        <h2>Evaluador de Gobierno Corporativo para Sociedades Comerciales (S.R.L Y S.A)</h2>
        <br>
        <div>
            <p>Organización</p>
        </div>
    </div>
    < </div>
        <div class="div2">
            <ol start="1000">
                <li>Primer elemento de lista</li>
                <li>Segundo elemento de lista</li>
            </ol>
        </div>