<div id="content" #content>
    <div id="chartdiv2"></div>

    <!-- <button (mousemove)="clasificarUsuariosCBBA2()" (mousemove)="clasificarUsuariosLPZ2()" (mousemove)="clasificarUsuariosSCZ2()">lista...</button> -->
</div>